@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3z9z8j');
  src:  url('fonts/icomoon.eot?3z9z8j#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3z9z8j') format('truetype'),
    url('fonts/icomoon.woff?3z9z8j') format('woff'),
    url('fonts/icomoon.svg?3z9z8j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e909";
}
.icon-layout-outline:before {
  content: "\e90a";
}
.icon-user-add:before {
  content: "\e908";
}
.icon-home-outline:before {
  content: "\e907";
}
.icon-creditcard:before {
  content: "\e903";
}
.icon-filter_list:before {
  content: "\e90b";
}
.icon-bathtub:before {
  content: "\e906";
}
.icon-pin:before {
  content: "\e905";
}
.icon-list:before {
  content: "\e904";
}
.icon-door:before {
  content: "\e900";
}
.icon-money:before {
  content: "\e901";
}
.icon-crop:before {
  content: "\e902";
}
